.ppp { 
    padding: 90px 0;
}

.home {
    margin-top: 85px;
    justify-content: center;
}

.yahaha{
    margin-left: 98px;
}



.yta {
    text-align: center;
}

.contact h2{
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

.contact p{
    font-size: 48px;
    font-weight: 400;
    padding-bottom: 30px;
}

.yuu{
    padding-left: 20px;
}
   
